.container{
    border: 1px solid #444;
}
.container h2{
    font-size: larger;
    color:skyblue;
}
p{
    color:blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.cabeza{
    border: 2px solid #333;
    color:slateblue;
}
strong{
    color:orange;
}