.container{
    border: 1px solid #444;
}
.container h2{
    font-size: larger;
    color:skyblue;
}
p{
    color:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.cabeza{
    border: 2px solid #333;
    color:slateblue;
}
strong{
    color:orange;
}